<h1>Consultas</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Marcar Consulta</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">Nome do médico</th>
            <th style="width: 30%">Especialidade</th>
            <th style="width: 30%">Data</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let consulta of consultas">
            <td>{{consulta.medico.nome}}</td>
            <td>{{consulta.medico.especialidade.nome}}</td>
            <td>{{consulta.dia}} - {{consulta.horario}}</td>
        </tr>
        <tr *ngIf="!consultas">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>
