<h1>Nova Consulta </h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
         <div class="form-group col">
            <div>
                <select #especialidadeSelect (change)='onEspecialidadeSelected(especialidadeSelect.value)'>
                    <option value="" selected disabled hidden>Especialidade</option>
                    <option *ngFor="let x of especialidades" [value]="x.id" >{{x.nome}}</option>
                </select>
            </div>
        </div>
        <div class="form-group col">
            <div>
                <select #medicosSelect (change)='onMedicoSelected(medicosSelect.value)'>
                    <option value="" selected disabled hidden>Médico</option>
                    <option *ngFor="let x of medicos" [value]="x.id">{{x.nome}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-row">
         <div class="form-group col">
            <div >
                <select #agendasSelect (change)='onAgendasSelected(agendasSelect.value)'>
                    <option value="" selected disabled hidden>Data</option>
                    <option *ngFor="let x of agendas" [value]="[x.id,x.horarios]">{{x.dia}}</option>
                </select>
            </div>
        </div>
        <div class="form-group col">
            <div >
                <select #horariosSelect (change)='onHorariosSelected(horariosSelect.value)'>
                    <option value="" selected disabled hidden>Hora</option>
                    <option *ngFor="let x of horarios" [value]="x">{{x}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Confirmar
        </button>
        <a routerLink="/users" class="btn btn-link">Cancelar</a>
    </div>
</form>
